*{
    font-size: 15px;
}

/* header */
header{
    padding: 10px 0 10px 0;
    background-color: #00b894;
}
#wname{
    margin-left: 5px;
    font-weight: 500;
    color: #fff;
}

/* search */
#search_icon{
    height: 28px;
    position: absolute;
    right: 60px;
    top: 6px;
    cursor: pointer;
}
#search{
    border: none;
   width: 100%;
   height: 35px;
   position: fixed;
   top: 0;
   left: 0;
   border: 1px solid ;
    display: none;
    z-index: 1;
}

#close{
    height: 25px;
    float: right;
    margin-right: 10px;
    z-index: 5;
}

/* menu */
#menu{
    height: 25px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.dropdown_content{
    background: #fff;
    width: 140px;
    position:fixed;
    right: 15px;
    top: 42px;
    border: 1px solid;
    display: none;
    animation: content 1s 1;
    z-index: 1;
}
@keyframes content{
    0%{
        transform-origin: top right;
        transform: scale(0);
    }
    100%{
        transform-origin: top right;
        transform: scale(1);
    }
}

.dropdown_content p{
    padding: 2px;
}

#camera{
    height: 25px;
}

/* options */
.options span {
    position: relative;
    bottom: -20px;
    cursor: pointer;
    color: #fff;
    border-bottom:3px solid #fff;
    margin: 0 8% 0 8%;
  }
  
  .options span:nth-child(3) {
    border-bottom: 3px solid #fff;
  }
  

  /* footer */
#bottom{
    text-align: center;
}



  @media screen and (max-width:500px) {
    .options span {
      margin: 0 7% 0 7%;
     }
  }
  
  @media screen and (max-width:400px) {
    .options span {
      margin: 0 5% 0 5%;
     }
  }
  
  @media screen and (min-width:700px) {
    .options span {
      margin: 0 8% 0 8%;
     }
  }
  
