.loader{
    /* animation: loader 1.5s 1; */
    display: block;
    /* transform-origin:  right; */
}

/* @keyframes loader {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0);
    }
} */
#logo{
    margin: 180px;
    height: 100px;

}

/* for screens larger than 600px */
@media screen and (min-width:600px){
    #logo{
        margin-left: 550px;
    }
}